{% extends 'base.html.twig' %}

{% block styles %}
    <link href="{{ asset('styles/Admin_Teacher_Student/main.css') }}" rel="stylesheet">
    <link href="{{ asset('styles/Admin_Teacher_Student/nav bar.css') }}" rel="stylesheet">
{% endblock %}

{% block pageTitle %}{% endblock %}

{% block spaceTitle %}
    <h3 class="page-title">Student's Space</h3>
{% endblock %}

{% block verticalNav %}
    {{ parent() }}
{% endblock %}

{% block restOfNavBar %}
    <li class="nav-item-vertical {% block firstNavElement %}{% endblock %}">
        <b></b>
        <b></b>
        <a href="{{ path("app_dashboard_student", {id: student.id}) }}">
            <span class="nav-text">Profile</span>
        </a>
    </li>

    <li class="nav-item-vertical {% block secondNavElement %}{% endblock %}">
        <b></b>
        <b></b>
        <a href="#">
            <!-- <img src="src/Profile.png" alt="Profile img " class="nav-vertical-icons"> -->
            <span class="nav-text">Schedule</span>
        </a>
    </li>

    <li class="nav-item-vertical {% block thirdNavElement %}{% endblock %}">
        <b></b>
        <b></b>
        <a href="#">
            <!-- <img src="src/abscent white.png" alt="abscence img " class="nav-vertical-icons"> -->
            <span class="nav-text">Absences</span>
        </a>
    </li>

    <li class="nav-item-vertical {% block fourthNavElement %}{% endblock %}">
        <b></b>
        <b></b>
        <a href="#">
            <!-- <img src="src/Profile.png" alt="Profile img " class="nav-vertical-icons"> -->
            <span class="nav-text">Courses</span>
        </a>
    </li>
{% endblock %}

